<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-black text-white sticky ">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0">© <%= new Date().getFullYear() %> AK Jeweller</span>
    </div>

    <div class="social-link">
      <a href="https://github.com/VinitO1" target="_blank">
        <img src="/images/github.svg" alt="github" class="socialLinks"
        style="width: 30px; height: 30px; margin-right: 5px; margin-top: 10px; background-color: white; border: 1px solid #ccc; border-radius: 50%;" />
      </a>
      <a href="https://www.linkedin.com/in/vinito7" target="_blank">
        <img
          src="/images/linkedin.svg"
          alt="linkedin"
          class="socialLinks" 
          style="width: 30px; height: 30px; margin-right: 20px;margin-left: 5px; margin-top: 10px; background-color: white; border: 1px solid #ccc; border-radius: 50%;"/>
      </a>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
></script>
<script src="addtoCart.js"></script>
</body>
</html>