<%- include('partials/header') %>
<form class="form-signup">
	<img
		class="mb-4"
		src="/images/AK jewelers.png"
		alt=""
		width="144"
		height="114" />
	<h1 class="h3 mb-3 fw-normal">Please sign up</h1>

	<input
		type="text"
		class="form-control mb-3"
		id="floatingName"
		placeholder="Full Name"
		autocomplete="off" />

	<input
		type="email"
		class="form-control mb-3"
		id="floatingInput"
		placeholder="Email address"
		autocomplete="off" />

	<input
		type="password"
		class="form-control mb-3"
		id="floatingPassword"
		placeholder="Password"
		autocomplete="off" />

	<input
		type="password"
		class="form-control mb-3"
		id="floatingConfirmPassword"
		placeholder="Confirm Password"
		autocomplete="off" />

	<button class="btn btn-primary w-100 py-2" type="submit">Sign Up</button>
</form>
<%- include('partials/footer') %>
